#productSizeBody input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

#productSizeBody > div:nth-child(4) {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#productSizeBody .colors-container {
  max-height: 200px;
  min-width: 50%;
  /* max-width: fit-content; */
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#productSizeBody .sizes-container {
  max-height: 200px;
  width: 50%;
  max-width: 50%;
  overflow-y: auto;
}

#productSizeBody .stocks-container {
  width: 100%;
  /* display: flex; */
  /* flex-direction: row !important; */
  /* flex-wrap: wrap; */
}

#productSizeBody .stocks-container .stocks-cards {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

#productSizeBody .stocks-container .stocks-cards > section {
  width: calc(50% - 10px);
  max-width: 50%;
  border: 1px solid black;
  /* background-color: antiquewhite; */
  padding: 15px;
  gap: 20px;
}

#productSizeBody > div > div {
  /* background-color: antiquewhite; */
  min-width: 50%;
  width: 50%;
}

#productSizeBody > div > div > div {
  display: flex;
  /* max-height: fit-content; */
  min-width: 100%;
  flex-wrap: wrap;
}

#productSizeBody > div > div > div > p {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#productSizeBody .stocks-container .stocks-cards > section > p {
  width: 100%;
  display: flex;
  gap: 0px;
  justify-content: start;
  align-items: center;
}

#productSizeBody .stocks-container .stocks-cards > section > p > span {
  min-width: 18px;
  height: 18px;
  border: 1px solid black !important;
  border-radius: 50%;
}

#productSizeBody .stocks-container .stocks-cards > section > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 !important;

  /* background-color: rgb(8, 87, 61); */
}

#productSizeBody .stocks-container .stocks-cards > section > div > p {
  display: flex;
  flex-direction: column;
  width: calc(calc(100% / 3) - 6.7px);
  /* min-width: calc(100% / 4); */
  /* max-width: calc(100% / 3); */
  /* background-color: aqua; */
}

/* #productSizeBody > div > section > div > p > input {
  max-width: 100% !important;
} */

#productSizeBody .errorElement {
  border: none !important;
}

#productSizeBody .errorElement p {
  color: red;
}

#productSizeBody .errorElement section {
  border: 1px solid red !important;
}

#productSizeBody .errorElement input[type="number"] {
  border: 1px solid red;
  color: red;
}

#productSizeBody .errorElement > section > p {
  color: red;
}
