#cartContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  /* padding: 20px; */
  background-color: rgba(0, 0, 0, 0.5);
}

#cartContainer strong {
  font-family: Poppins !important;
}

#cartContainer > button {
  position: absolute;
  top: 49px;
  right: calc(50% - 30px);
  z-index: 1000;

  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #5d5b5b;

  transition: 0.2s;
}

#cartContainer > button:hover {
  color: black;
}

@keyframes showDiv {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

#cartBox,
#emptyCart {
  width: 50%;
  /* height: 100; */
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  gap: 30px;
  background-color: #fff;
  /* box-shadow: -1px 0px 8px rgba(183, 183, 183, 0.5); */
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  padding: 30px 5%;
  padding-bottom: 130px;
  overflow-y: auto;
  scrollbar-width: none;

  animation: 0.2s linear showDiv;
}

#cartBox::-webkit-scrollbar,
#emptyCart::-webkit-scrollbar {
  display: none;
}

#cartBox > div {
  display: flex;
  gap: 10px;
}

#emptyCart {
  align-items: center;
  justify-content: center;
}

#emptyCart > div {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

#emptyCart > div > div {
  width: 370px;
  cursor: default;
}

#emptyCart > div > div > strong {
  font-size: x-large;
  font-weight: 500;
  font-family: Poppins !important;
}

#emptyCart > div > div > p {
  margin-top: 5px;
  font-size: large;
}

@media screen and (max-width: 768px) {
  #cartBox,
  #emptyCart {
    width: 100%;
    box-shadow: none;
    padding: 30px 20px;
    padding-bottom: 120px;
  }

  #cartContainer > button {
    top: 15px;
    right: 20px;
    z-index: 1000;
    border: none;
  }
}
