footer {
  max-width: 100vw;
  background-color: #ccc;
  padding: 60px 11%;
}

footer > div {
  display: flex;
  justify-content: space-between;
}

footer > div > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer > div > ul > li {
  width: 100%;
  text-align: left;
}

footer > div > ul > li > a {
  text-decoration: none;
  color: #323232cc;
  transition: 0.2s;
}

footer > div > ul > li > a:hover {
  color: #9a9a9a;
}
footer > p {
  text-align: center;
  margin-top: 60px;
  cursor: default;
}

@media screen and (max-width: 769px) {
  footer {
    max-width: 100vw;
    background-color: #f2f2f2;
    padding: 50px 20px;
  }

  footer > div {
    width: 100%;
    justify-content: center;
    gap: 30px 22%;
    flex-wrap: wrap;
  }

  footer > div > ul {
    width: calc(100% / 4);
  }
}
