.card {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 380px;

  width: 250px;
  max-width: 250px;

  transition: 0.2s;
  cursor: pointer;

  border: 1px solid #ccc;
  background-color: #fff;
}

.card > .arrayColorsLength {
  background-color: #fff;
  border: 1px solid #ccc;
  width: fit-content;
  padding: 4px 6px;
  font-size: x-small;
  border-radius: 3px;
  position: relative;
  top: -12px;
  left: 10px;
}

.card:hover {
  color: #5555ff;
}

.card > img {
  width: 100%;
  min-height: 150px;
  max-height: 150px;

  object-fit: contain;
  margin-top: -40px;
  /* border: 1px solid #ccc; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #ccc;
}

.card > .likeBtn {
  padding: 8px;
  border: none;
  box-shadow: 0px 2px 8px rgba(141, 141, 141, 0.5);
  background-color: #fff;
  width: fit-content;

  position: relative;
  left: 10px;
  top: 10px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.card > .likeBtn.clicked {
  background-color: blue;
  color: #fff;
}

.card > .likeBtn.clicked:hover {
  background-color: blue;
  color: #fff;
}

.card > .likeBtn:hover {
  background-color: #f8f8f8;
  color: #4e4e4e;
}

.card > .text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .card {
    min-width: 50%;
    max-width: 50%;
  }

  .card:hover {
    box-shadow: none;
  }

  .card > img {
    width: 100%;
    /* height: 50%; */
    /* object-fit: cover; */
    /* margin-top: -38px; */
  }
}
