.card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 250px;
  max-width: 250px;

  transition: 0.2s;
  cursor: pointer;

  border: 1px solid #ccc;
  background-color: #fff;

  overflow: hidden;
}

.card > .arrayColorsLength {
  background-color: #fff;
  border: 1px solid #ccc;
  width: fit-content;
  padding: 4px 6px;
  font-size: x-small;
  border-radius: 3px;
  position: relative;
  top: -12px;
  left: 10px;
}

.card:hover {
  color: #5555ff;
}

.card > img {
  width: auto;
  min-height: 150px;
  height: 200px;
  max-height: 200px;

  object-fit: contain;
  border-bottom: 1px solid #ccc;
}

.card > .likeBtn {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: fit-content;

  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.card > .likeBtn.clicked {
  background-color: rebeccapurple;
  color: #fff;
}

.card > .likeBtn.clicked:hover {
  background-color: #541990;
  color: #fff;
}

.card > .likeBtn:hover {
  background-color: #f8f8f8;
  color: #4e4e4e;
}

.card > .text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card > .text > .price-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.clicked-button {
  background-color: green !important;
  color: #fff !important;
  cursor: not-allowed;
}

.loading-card-btn {
  /* width: 40px; */
  /* height: 43px; */
  position: relative;
  background-color: #ccc;
  color: transparent; /* Esconde o texto */
  cursor: wait;
  /* padding: 50px; */
}

.loading-card-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #0d00ff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  transform: translate(-50%, -50%);
}

.edit-buttons {
  /* display: flex; */
  /* justify-content: center; */
  margin-top: -10px;
  padding: 10px;
}

.edit-buttons > button {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 8px;
  color: #fff;
  background-color: blueviolet;
  transition: 0.2s;
  cursor: pointer;
}

.edit-buttons > button:hover {
  background-color: #d606d6;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .card {
    min-width: 50%;
    max-width: 50%;
  }

  .card:hover {
    box-shadow: none;
  }

  .card > img {
    width: 100%;
    /* height: 50%; */
    /* object-fit: cover; */
    /* margin-top: -38px; */
  }
}
