#pagina-vendedor {
  font-family: Arial, sans-serif;
  width: 100%;
  background-color: #f2f2f2;
}

#pagina-vendedor > #backgroundImage {
  max-width: 100vw;
  height: 320px;
  position: relative;
}

#pagina-vendedor > #backgroundImage > img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#pagina-vendedor > .cabecalho-loja {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding: 0px 10%;
  margin-top: -65px;
  z-index: 2;
}

#pagina-vendedor > .cabecalho-loja > button {
  padding: 5px;
  position: fixed;
  right: 5%;
  bottom: 40px;

  color: black;

  border: 1px solid;

  background-color: #fff;

  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}

#pagina-vendedor > .cabecalho-loja > button:hover {
  color: #555555;
  background-color: #fbfbfb;
}

#pagina-vendedor > .cabecalho-loja > .logo {
  width: 215px;
  height: 215px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #f2f2f2;
}

#pagina-vendedor > .cabecalho-loja > div {
  line-height: 1.5;
  margin-top: 30px;
}

/* #pagina-vendedor > .cabecalho-loja > div > h1 {
  font-size: xx-large;
} */

#pagina-vendedor > .cabecalho-loja > div > div {
  display: flex;
  gap: 10px;
}

#pagina-vendedor > main {
  display: flex;
  flex-direction: row;
  padding: 40px 10%;

  gap: 30px;
}

#pagina-vendedor > main > aside {
  position: sticky;
  top: 130px;

  width: 30%;
  max-width: 450px;

  max-height: fit-content;
  padding: 30px 25px;
  /* color: #444; */
  line-height: 1.5;
  font-size: 1.05rem;
  /* transition: box-shadow 0.3s ease; */

  background-color: #fff;

  cursor: default;
}

#pagina-vendedor > main > aside > .descricao {
  margin-bottom: 18px;
  text-align: center;
  font-size: 1.1rem;
}

#pagina-vendedor > main > aside > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#pagina-vendedor > main > section {
  padding: 20px;
  width: 70%;
  background-color: #fff;
}

#pagina-vendedor > main > section > div > h2 {
  margin-bottom: 18px;
  color: #222;
}

#pagina-vendedor > main > section > div > .lista-cards {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#pagina-vendedor > main > section > div > .lista-cards > p {
  color: #3a3a3a !important;
  width: 100%;
  text-align: center;
}

#pagina-vendedor > main > section > div > .lista-cards > #addItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 250px;
  min-height: 375px;

  border: 4px dotted;
  color: black;

  border-radius: 8px;

  cursor: pointer;
  transition: 0.2s;
}

#pagina-vendedor > main > section > div > .lista-cards > #addItem:hover {
  color: #555555;
}

#no-seller-itens {
  margin-top: 20%;
  width: 100%;
  text-align: center;
  color: #3a3a3a;
}

.noItens {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.noItens > h2 {
  max-width: 480px;
}

.noItens > p {
  width: 500px;
  margin-bottom: 20px;
}

.noItens > button {
  border: 2px solid;
  color: blue;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 20px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

.noItens > button:hover {
  color: #5656ff;
  transform: scale(1.01);
}

#address-add {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  color: black;
  border: 2px solid;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}

#address-add:hover {
  color: #555555;
}

#pagina-vendedor {
  /* ===== MENU DE FILTRO DE PRODUTOS ===== */
  .menu-filtro {
    position: sticky;
    top: 130px;
    z-index: 999;

    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;

    scrollbar-width: none;

    /* box-shadow: inset -10px 0px 10px 0px rgba(0, 0, 0, 0.9); */
  }

  .menu-filtro::-webkit-scrollbar {
    display: none; /* Chrome, Edge e Safari */
  }

  .filtro-botao {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
    text-wrap: nowrap;

    background-color: #fff;
  }

  .filtro-botao:hover {
    background: #000;
    color: #fff;
  }

  .filtro-botao.ativo {
    background: #000 !important;
    color: #fff !important;
  }

  .filtro-botao.stock {
    color: red;
    border-color: red;
  }

  .filtro-botao.stock:hover {
    background: red;
    color: #fff;
  }

  .filtro-botao.stock.ativo {
    background: red !important;
    color: #fff !important;
  }

  /* Animação suave na troca de filtros */
  .lista-cards {
    transition: opacity 0.3s ease;
  }

  .lista-cards.ocultando {
    opacity: 0.4;
  }
}
