.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.feedback-popup {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); */
  min-width: 280px;
  animation: fadeIn 0.3s ease-in-out;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-popup p {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: large;
}

.feedback-popup button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.feedback-popup button:hover {
  background: #3a3a3a;
}

/* Tipos */
.feedback-popup.info {
  border-left: 6px solid #2196f3;
}
.feedback-popup.success {
  border-left: 6px solid #4caf50;
}
.feedback-popup.error {
  border-left: 6px solid #f44336;
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animação de saída */
.feedback-popup.closing {
  opacity: 0;
  transform: scale(0.9);
}
