#priceLogisticsBody > div > p {
  width: calc(100% / 3);
  justify-content: start;
}

#priceLogisticsBody > div > p > input {
  min-width: 100%;
}

#priceLogisticsBody #addPromotionBtn {
  margin-top: 10px;
  border-radius: 8px;
  padding: 15px;
  font-weight: 500;
  font-size: medium;
  color: #fff;
  border: none;
  background-color: black;
  cursor: pointer;
  transition: 0.2s;
}

#priceLogisticsBody #addPromotionBtn:hover {
  background-color: #3a3a3a;
}
