.cartCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px 25px;
  border-radius: 10px;
}

.cartCard > img {
  width: 250px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.cartCard > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.cartCard > div > .deleteCart {
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ee3333;
  color: #fff;
  transition: 0.2s;
}

.cartCard > div > .deleteCart:hover {
  background-color: #ff5252;
}

@media screen and (max-width: 770px) {
  .cartCard {
    justify-content: left;
    flex-direction: column;
    padding: 20px 20px;
  }

  .cartCard > img {
    width: 100%;
    height: 200px;
  }

  .cartCard > div {
    justify-content: space-between;
    gap: 10px;
  }

  .cartCard > div > .itemInfos {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .cartCard > div > .itemInfos > p:last-child {
    font-size: small;
  }

  .cartCard > div > .deleteCart {
    padding: 5px;
  }
}
