#principal-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 0px 8%;

  height: 85px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#principal-header #appBar {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
  cursor: default;
}

#principal-header #appBar > hr {
  width: 1.5px;
  height: 40px;
  border: none;
  background-color: black;
}

#principal-header #appBar > p {
  font-size: large;
  font-weight: 500;
}

#principal-header button {
  border: none;
  background-color: transparent;

  transition: 0.2s;

  cursor: pointer;
}

#principal-header > button:hover {
  color: #7e7d7d;
}

#cartCount {
  position: absolute;
  right: calc(8% - 15px);

  border: 1px solid;

  top: 20px;

  width: 25px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  font-weight: bold;
  border-radius: 50%;

  background-color: #f2f2f2;
}

#principal-header strong {
  color: black;
  font-size: x-large;
  cursor: pointer;
  font-family: "Anton" !important;
}

header > ul {
  /* width: 50%; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 50px;
}

header > ul > li > a {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

header > ul > li > a:hover {
  color: #7e7d7d;
}

header .inputBox {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 11px 15px;
  gap: 20px;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
}

header .inputBox > input {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  /* border-bottom: 1px solid black; */
}

header .inputBox > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

header .inputBox > div:hover {
  color: #7e7d7d;
}

/* .searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #7e7d7d;
} */

header .infosUser {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 35px;
}

header #buttonCart,
header #buttonLogin {
  /* padding: 0px 5px; */
  border-radius: 5px;
  border: none;
  /* box-shadow: 0px 4px 5px rgba(136, 136, 136, 0.4); */
  background-color: transparent;
  cursor: pointer;
}

header #buttonLogin {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}

header #buttonLogin > p {
  font-size: medium;
  font-weight: 500;
}

header .usser-account-btn {
  border-radius: 50%;
  border: 1px solid black !important;
  width: 42px;
  height: 42px;
  cursor: pointer;
  overflow: hidden;
}

header .usser-account-btn > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.cepBtn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  font-weight: 500;
}

.cepBtn > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px 20px;
    gap: 20px;
  }

  header > strong {
    font-size: small;
    width: 40px;
  }

  header .inputBox {
    padding: 10px;
    width: 100%;
  }

  #cartCount {
    right: 1%;
    top: 10px;
  }
}
