/* Estilo geral */
.profile-page {
  /* font-family: Arial, sans-serif; */
  /* background: #f9f9fb; */
  color: #333;
  min-height: 100vh;

  /* Main */
  .profile-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 40px 15%;
  }

  /* Sections */
  .profile-section {
    background: white;
    border-radius: 10px;
    padding: 25px 30px;
    gap: 0px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); */
    position: relative; /* necessário para fixar o botão dentro */
  }

  .profile-section > hr {
    margin: 15px 0 30px;
    /* margin-bottom: 15px; */
    border: none;
    height: 1px;
    background-color: #ccc;
  }

  .profile-section h2 {
    /* margin-bottom: 1rem; */
    color: black;
    /* border-bottom: 2px solid #e0e0e0; */
    /* padding-bottom: 0.5rem; */
  }

  /* Informações de perfil */
  .profile-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
  }

  /* Dados */
  .profile-data p {
    margin: 0.3rem 0;
  }

  /* Botão Editar */
  .edit-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    border: none;
    padding: 0.5rem 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s ease;
  }

  .edit-btn:hover {
    background: #3a3a3a;
  }
}
