#addProductBody {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #f2f2f2;
  max-width: 100vw;
  padding: 60px 18% 120px;
}

#addProductBody h1 {
  font-size: x-large;
}

#addProductBody hr {
  border: none;
  height: 1.5px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 0;
}

#addProductBody > div {
  padding: 0px 18%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  left: 0;
  position: fixed;
  bottom: 30px;
}

#addProductBody > div > button {
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: black;
  padding: 15px;
  width: 50%;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

#addProductBody > div > button:hover {
  background-color: #3a3a3a;
}

#addProductBody > section {
  background-color: #fff;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 25px;
  cursor: default;
}

#addProductBody div {
  min-width: 50%;
  max-width: 100%;
}

#addProductBody p {
  width: 50%;
  justify-content: center;
}

#addProductBody label {
  font-size: medium;
  font-weight: 500;
}

#addProductBody select,
#addProductBody input[type="text"],
#addProductBody input[type="number"],
#addProductBody textarea {
  padding: 13px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.2s;
  width: 100%;
  max-width: 100%;
  font-size: medium;
  outline: none;
}

#addProductBody input[type="number"] {
  text-align: center;
}

/* #addProductBody select:focus,
#addProductBody input[type="text"]:focus,
#addProductBody input[type="number"]:focus,
#addProductBody textarea:focus {
  border-color: rgb(220, 3, 220);
  box-shadow: 0px 0px 2px rgba(220, 3, 220, 0.9);
} */

#addProductBody textarea {
  min-width: 100%;
  min-height: 120px;
  max-height: 500px;
}

#addProductBody strong {
  font-weight: 500;
}

#addProductBody .errorMsg {
  color: red;
  font-size: small;
}

.errorElement {
  border: 1px solid red !important;
}

#addProductBody .deleteBtn {
  width: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* right: -50%; */
  /* transform: translateX(-50%); */
  /* width: 50%; */
  background-color: #f70f0f;
  padding: 15px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: medium;
  cursor: pointer;
  transition: 0.2s;
}

#addProductBody .deleteBtn:hover {
  background-color: #dd2424;
}
