#notFoundContainer {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  background-color: #fff;
  cursor: default;
}

#notFoundContainer > strong:first-child {
  color: black;
  font-size: xx-large;
  cursor: pointer;
  font-family: "Anton" !important;
  margin-bottom: 20px;
  cursor: default;
}

a {
  text-decoration: none;
}

#indexBtn {
  color: #fff;

  border: 2px solid black;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
  background-color: black;
}

#indexBtn:hover {
  background-color: transparent;
  color: black;
}

#notFoundContainer > p:last-child {
  position: absolute;
  bottom: 40px;
}
