#trackBody > main {
  max-width: 100vw;
  min-height: 86vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 8% 90px;

  /* background-color: #f2f2f2; */
}

#trackBody > #backBtn {
  position: fixed;
  bottom: 20px;
  right: 8%;

  padding: 15px 25px;
  border-radius: 5px;
  border: none;

  color: #fff;
  background-color: black;

  font-weight: 500;
  cursor: pointer;

  transition: 0.2s;
}

#trackBody > #backBtn:hover {
  background-color: #3a3a3a;
}
