@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  /* font-family: Roboto; */
}

html {
  scroll-behavior: smooth;
}

:root {
  --cor-principal: #a4193d;
  --cor-secundaria: #ffdf89;
  --branco: #f7f7f7;
}

body {
  background-color: #ebebeb;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #1976d2;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: color 0.3s;
}
.logo:hover {
  color: #0d47a1;
}

address {
  font-style: normal;
}

.boxShadow {
  box-shadow: 0px 8px 7px rgba(160, 149, 149, 0.3);
}

.borderRadius {
  border-radius: 10px;
}

.colorGray {
  color: #636363;
}

.colorGreen {
  color: #14ba14;
}

.colorRed {
  color: red;
}

.small {
  font-size: small;
}

.font-medium {
  font-size: medium;
}

.xx-large {
  font-size: xx-large;
}

.weigth-500 {
  font-weight: 500;
}

.line-through {
  text-decoration: line-through;
}

.textCenter {
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.borderRed {
  border: 1px solid red;
}

.displayColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.displayRow {
  display: flex;
  flex-direction: row !important;
  gap: 25px;
}

input[type="file"] {
  display: none;
}
