#menu-user-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;

  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

#menu-user-container > button {
  position: absolute;
  top: 56px;
  right: calc(40% - 30px);
  z-index: 1000;

  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #5d5b5b;

  transition: 0.2s;
}

#menu-user-container > button:hover {
  color: black;
}

@keyframes showDiv {
  0% {
    width: 0;
  }

  100% {
    width: 40%;
  }
}

#menu-user-box {
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: 20px;
  border-radius: 10px;
  width: 40%;
  /* height: 100%; */
  background-color: #fff;

  animation: 0.2s linear showDiv;
}

#menu-user-box > h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
