@keyframes showDiv {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

#produtosInfos {
  display: flex;
  position: fixed;
  width: 50%;
  right: 20px;
  bottom: 20px;
  /* background-color: #fff; */
  cursor: default;
  padding: 20px 50px;
  border-radius: 10px;

  animation: 0.2s linear showDiv;
}

#produtosInfos > div > p {
  font-weight: 500;
  font-size: large;
}

#produtosInfos > div > strong {
  font-size: x-large;
  font-weight: 400;
  color: #2f2f2f;
}

#produtosInfos > button {
  position: absolute;
  width: 60%;
  height: 50px;
  right: 50px;

  cursor: pointer;
  border: none;
  background-color: black;
  transition: 0.2s;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

#produtosInfos > button:hover {
  background-color: #363636;
}

@media screen and (max-width: 768px),
  (max-width: 768px) and (orientation: landscape) {
  #produtosInfos {
    width: 100%;
    padding: 20px 30px;
  }
}
