#pagamentoCardBody {
  width: 700px;
  background-color: #fff;
  padding: 30px;
  cursor: default;
}

#pagamentoCardBody {
  div:nth-child(3) {
    flex-direction: column;
    align-items: start;
  }

  div:nth-child(3) > p {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  div {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  .payment-price-content {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    flex-wrap: nowrap;
  }

  .payment-price-content > span {
    max-width: fit-content;
  }

  .promotion-subtotal {
    display: flex;
    flex-direction: column;
  }
}
