.prateleira .carroussel .slick-list {
  padding: 0;
}

/* .carroussel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.prateleira {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  padding: 25px 30px;
}

.carroussel {
  min-width: 100%;
}

.prateleira > h2 {
  margin-bottom: 15px;
}

/* .carroussel {
  display: flex;
  gap: 100%;
  justify-content: start;
} */

/* Carrossel estilizado */
.prateleira .carroussel {
  max-width: 100vw;
  height: fit-content;
}

.custom-arrow-prateleira {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;

  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 2;
}

.custom-arrow-prateleira.prev-prateleira {
  left: -65px;
}

.custom-arrow-prateleira.next-prateleira {
  right: -60px;
}

@media screen and (max-width: 768px) {
  .custom-arrow {
    display: none !important;
  }
}
