#myPurchasesBody > main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  padding: 40px 11%;

  min-height: 86vh;

  background-color: #f2f2f2;
}

#myPurchasesBody > main > .inputBox {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  width: 800px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(136, 136, 136, 0.4);
}

#myPurchasesBody > main > .inputBox > input {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

#myPurchasesBody > main > .inputBox > label {
  cursor: pointer;
}

#myPurchasesBody > main > h1 {
  width: 800px;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 4px 5px rgba(136, 136, 136, 0.3);
  cursor: default;
}
