#detailsBody hr {
  margin: 0 !important;
}

#detailsBody > main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 40px 0px 100px 0px;
  background-color: #f2f2f2;

  gap: 0 !important;
}

#detailsBody > main > h1 {
  width: 700px;
  text-align: left;
  font-size: large;
  margin-top: 30px;
  margin-bottom: 10px;
}

#detailsBody > #backBtn {
  position: fixed;
  bottom: 20px;
  right: 8%;

  padding: 15px 25px;
  border-radius: 5px;
  border: none;

  color: #fff;
  background-color: black;

  font-weight: 500;
  cursor: pointer;

  transition: 0.2s;
}

#detailsBody > #backBtn:hover {
  background-color: #3a3a3a;
}
